<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated offers -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="uk.ac.york.cs.eng2.offers.presentation.OffersModelWizardID"
            name="%_UI_OffersModelWizard_label"
            class="uk.ac.york.cs.eng2.offers.presentation.OffersModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OffersModelFile.gif">
         <description>%_UI_OffersModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated offers -->
      <editor
            id="uk.ac.york.cs.eng2.offers.presentation.OffersEditorID"
            name="%_UI_OffersEditor_label"
            icon="icons/full/obj16/OffersModelFile.gif"
            extensions="offers"
            class="uk.ac.york.cs.eng2.offers.presentation.OffersEditor"
            contributorClass="uk.ac.york.cs.eng2.offers.presentation.OffersActionBarContributor">
      </editor>
   </extension>
</plugin>
